.nav_div {
  padding: 20px 50px;
  background-color: transparent;
  position: fixed;
  width: calc(100% - 100px);
  z-index: 100;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: opacify($color: #3939393b, $amount: 0.1);
    backdrop-filter: blur(10px);

    .logo {
      color: white;
      padding: 0 20px;
      text-decoration: none;
    }
    .nav_bar {
      a {
        text-decoration: none;
        color: white;
        font-family: inherit;
        font-weight: 700;
        margin-left: 50px;
      }
    }
    .search {
        color: white;
        padding: 0 20px;
        .icon_search {
            font-size: 27px;
        }
    }
  }
}
